.each-slide-effect>div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    background-size: cover;
    height: 350px;
    padding: 1rem;
    border-radius: 2rem;
}

.each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.profile {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    background-size: cover;
    border: 1px solid white;
}

.card {
    height: 12rem;
    width: 22%;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}